<h1>This web application helps you see how many times an entered word appears in an entered string.</h1>
<h2>Here, try it out!</h2>

<form action="/" method="post">
  <label for="string">Write a string here:</label>
  <input id=string name=string type="text">
  <label for="word">Write a word you want to look for in this string:</label>
  <input id="word" name="word" type="text">
  <button type="submit">Submit</button>
</form>
